# Formspree ID para el formulario de contacto
# Conseguí el tuyo en https://formspree.io
PUBLIC_FORMSPREE_ID=tu_id_aca

# Base de datos MySQL
DATABASE_URL="mysql://usuario:password@host:3306/db_name"

# Autenticación y Seguridad
JWT_SECRET="generar_una_clave_secreta_y_larga_para_encriptar_sesiones"
