---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navigation from '../components/Navigation.astro';
import HeroSection from '../components/HeroSection.astro';
import TrustBar from '../components/TrustBar.astro';
import ProblemSection from '../components/ProblemSection.astro';
import SolutionSection from '../components/SolutionSection.astro';
import HowItWorks from '../components/HowItWorks.astro';
import BusinessUnits from '../components/BusinessUnits.astro';
import Differentiators from '../components/Differentiators.astro';
import Testimonials from '../components/Testimonials.astro';
import CtaSection from '../components/CtaSection.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Navigation />
  <main id="main-content" class="relative">
    <HeroSection />
    <TrustBar />
    <ProblemSection />
    <SolutionSection />
    <HowItWorks />
    <BusinessUnits />
    <Differentiators />
    <Testimonials />
    <CtaSection />
  </main>
  <Footer />
</BaseLayout>
