---
import StatsCounter from './react/StatsCounter';
import ScrollReveal from './react/ScrollReveal';
import { stats } from '../data/stats';
---

<ScrollReveal client:visible>
  <section id="confianza" class="py-20 bg-surface/30 border-y border-white/5">
    <div class="container mx-auto px-6">
      <div class="max-w-6xl mx-auto">
        <StatsCounter client:visible stats={stats} />
      </div>
    </div>
  </section>
</ScrollReveal>
